<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Flat Code</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/myflat.css">
</head>
<body>
    <div class="container">
        <div class="header">
          <a href="javascript:history.back()" class="back-button">←</a>
        </div>
      
        <h2>Your flat code</h2>
      
        <div class="code-bubble">
          <%= flatCode %>
        </div>
      
        <p class="subtext">
          Share this code with the new flatmate<br>
          for them to log in the app.
        </p>
      
        <div class="info-section">
          <button onclick="window.location.href='/dashboard'">My Tasks</button>
          <button onclick="window.location.href='/activity'">Activity</button>
          <button onclick="window.location.href='/myflat'">Flat</button>
        </div>
      </div>
      
</body>
</html>
